{# login form called via an include statement #}
{% load i18n %}
{% if form.errors %}
    <div class="alert alert-danger">
        <strong>{% trans 'Alert!' %}</strong> {% trans "Your username and password didn't match. Please try again."%}
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12" style="height:50px;"></div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" method="post" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="id_username">{% filter capfirst %}{% trans 'username'  %}{% endfilter %}</label>
                <div class="row form-input">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input autofocus="" class="form-control" placeholder="{% filter capfirst %}{% trans 'username'  %}{% endfilter %}" id="id_username" maxlength="254" name="username" required="" type="text">
                    </div>
                </div>
                <div class="row form-input">
                    <div class="input-group">
                    <label class="sr-only" for="id_password">{% trans 'Password' %}</label>
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input id="id_password" class="form-control" placeholder="{% trans 'Password' %}" name="password" required="" type="password">
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-5">
                        <label>
                            <input type="checkbox" value="rememberme" id="memeberme" name="rememberme">
                            Remember Me
                        </label>
                    </div>
                </div>
                <div class="row" style="margin:0px;">
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button type="submit" class="btn btn-primary block" style="width:100%;">{% trans 'login' %}</button>

                </div>
            </div>
        </form>

        <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    <a class="btn btn-link" href="{% url 'password_reset' %}" style="padding-bottom:5px;text-decoration: underline;">{% trans 'FOGOT YOUR PASSWORD' %}</a>
                </div>
                <div class="col-md-12" style="text-align:center;">
                    <a class="btn btn-link" href="/accounts/signUp" style="padding-top:5px;text-decoration: underline;">{% trans 'CREATE AN ACCOUNT' %}</a>
                </div>
        </div>
        <div class="row">
            <p><span class="line"><b>Or</b></span></p>
        </div>
        <br/>

        <div class="row" style="margin-bottom:10px;">
             <div class="col-md-12" style="text-align:center">
                <a href="{% url 'social:begin' 'google-oauth2' %}?next=/" class="btn btn-block btn-social btn-google" style="width:100%"><i class="fa fa-google"></i>Create Account Using Google</a>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-md-12" style="text-align:center">
                <a class="btn btn-block btn-social btn-facebook" style="width:100%"><i class="fa fa-facebook fa-fw"></i>Create Account Using Facebook</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <a class="btn btn-block btn-social btn-adn" style="width:100%"><i class="fa fa-adn"></i>Create Account Using ITS52</a>
            </div>
        </div>

    </div>
</div>