<!DOCTYPE html>
{% load i18n %}
<html>
  <head>
    <title>Saifee Mahal Mawaid - Recipe Menu KitchenManagement System</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block keywords %}
        <meta http-equiv="keywords" content="Recipes, OpenEats2, OpenEats, Django, Grocery List, Grocery Lists, Share Recipes, rated recipes"/>
    {% endblock %}
    <meta name="description" content="Amazing Recipes and beautiful food photography. Created as well as rated by you and fellow foodies."/>
    <title>{% block title %}{{ OETITLE }}{% endblock %}</title>
    {% block feeds %}
        <link href="/feed/recent/" rel="alternate" type="application/rss+xml"
              title="{{ OETITLE }}{% blocktrans %}Top Recipe Feed{% endblocktrans %}"/>{% endblock %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    {% block jscript %}{% endblock %}
    {% load static %}
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-flatly-theme.css" %}"/>
    <link rel="stylesheet" href="{% static "css/oe.css" %}" />
      <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
     <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

  <div class="logo-head">
	<div class="container">
		<div class="logo">
			<h2><a href="index.php">Saifee Mahal Mawaid</a></h2>
			<h3 class="tittle">Recipe Menu Kitchen Management System</h3>
		</div>
		<div class="navigation">
				<span class="menu"><img src="{% static "images/menu.png" %}" alt=""></span>
				<div class="clearfix"></div>
				<ul class="nav1">
					<li><a class="hvr-overline-from-center button2 active" href="/">Home</a></li>
					<li><a class="hvr-overline-from-center button2" href="/accounts/signIn/">Login</a></li>
					<li><a class="hvr-overline-from-center button2" href="/accounts/signUp/">Register</a></li>
					<li><a class="hvr-overline-from-center button2" href="#">Support</a></li>
					<li><a class="hvr-overline-from-center button2" href="#">About</a></li>
					<li><a class="hvr-overline-from-center button2" href="#">Twitter</a></li>
				</ul>
				<!-- script for menu -->
					<script>
						$( "span.menu" ).click(function() {
						$( "ul.nav1" ).slideToggle( 300, function() {
						 // Animation complete.
						});
						});
					</script>
				<!-- //script for menu -->
		</div>
	</div>
</div>

   {% if messages %}
     {% for message in messages %}
       <div class="alert alert-{{  message.tags  }}">
         {{ message }}
       </div>
     {% endfor %}
   {% endif %}

       <div class="col-md-10 col-xs-12" style="width:100%; padding:0px;">
         {% block content %}{% endblock %}
         <div class="bottom-bar">
             <div class="strip1"></div>
             <div class="copy-right">
               <div class="container">
                    <p> A RMKMS © Product by  <a href="https://www.weconnectdirect.com.com/">WeconnectDirect</a></p>
               </div>
             </div>
         </div>
       </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/oe.js" %}"></script>
    <script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
    <script type="text/javascript" src="{% static "js/easing.js" %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
  </body>
</html>
