{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-md-12" style="height:50px;"></div>
</div>
<div class="row">

    <div class="tab-content">
        <div id="signIn" class="tab-pane fade in active">
            {% include 'registration/_create_form.html' %}
        </div>
        <!--<div id="signUp" class="tab-pane fade">-->
            <!--{% include 'registration/_create_form.html' %}-->
        <!--</div>-->
    </div>
</div>

{% endblock %}
